<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<body>
    <div class="container"> <br> <br> <br> 
        <h1 id = "areaTitle">Categorias <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" width="30" height="30" fill="#681AA5" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg> </h1>   <br> 
        
        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

            <% result.forEach((category) => { %>
                  <div class="col" >
                    <div class="p-3 border bg-light" onclick="location.href=` /categorias/<%= category.slug %>`" id = "categoryTable" data-categoryId = <%= category.id %> data-redirect = "/categorias/<%= category.slug %>"  >
                      <a href="/categorias/<%= category.slug %>" id = "categoryBoard"> <%= category.category_name %> </a>
                    </div>
                  </div>
            <% }) %>

            </div>
          </div>

    </div>
</body>

<script>

  async function redirect(){
    const divToRedirect = document.getElementById('categoryTable');
    const url = divToRedirect.getAttribute('data-redirect');
    console.log(url)
  }

</script>

<%- include('../partials/footer.ejs') %>